.card_container {
    display: flex;
    justify-content: space-between;
    box-shadow: .2em .2em .8em rgba(0, 0, 0, .3);
    height: 15em;
    width: 50em;
    margin: 1em auto;
}

.card_imagem {
    background-position: center;
}