.header {
 display: flex;
 align-items: center;
 justify-content: space-between;

 width: 100%;
 height: 5rem;

 padding: 0 5rem;
 background-color: var(--primary);
 color: #fff;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.logo {
 text-decoration: none;
 color: var(--white);
}
.logo:hover {
 color: var(--yellow);
}

.logo-header {
 font-size: 1.5rem;
}

.menu-navbar {
 display: flex;
 align-items: center;
}

.menu-navbar-list {
 display: flex;
 align-items: center;
 list-style: none;
 gap: 3rem;
}

.menu-navbar-list-item a {
 font-size: 1.2rem;
 cursor: pointer;
 text-decoration: none;
 color: var(--white);
}

.menu-navbar-list-item a:hover {
 color: var(--yellow);
}
